
.day-bar {
    border-bottom: 1px solid black;
    display: grid;
}

.invis-time {
    padding: 0 1rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.day {
    text-align: center;
    padding: 1rem 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
