
.resize-context {
    position: relative;
    height: 100%;
}

.resize-widget {
    position: absolute;
    width: 30%;
    background-color: transparent;
    border: none;
}

.resize-widget-start {
    bottom: 0;
    right: 0;
}

.resize-widget-end {
    top: 0;
    left: 0;
}


#search-icon {
    fill: black;
}
