.event-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
}


.event-wrapper {
    position: relative;
    border: 1px solid white;
    z-index: 10;
    height: 100%;
}
